In [39]:
import pandas as pd

# Data Extraction

In [6]:
paid = pd.read_csv("./../data/paid_platform.csv")
paid

     Utm Medium Utm Source Traffic Week  # Impressions  # Clicks       $ Cost
0   paid-social   linkedin   2023-10-23        4881796     21954  $169,017.58
1   paid-social   linkedin   2023-10-16        6335386     15776  $174,972.20
2   paid-social   linkedin   2023-10-09        4485024     35009  $327,466.25
3   paid-social   linkedin   2023-10-02        4348074     27765  $272,559.09
4   paid-social   linkedin   2023-09-25        5962092     31388  $249,770.65
..          ...        ...          ...            ...       ...          ...
79  paid-search       bing   2023-07-03          48173      5662   $28,060.26
80  paid-search       bing   2023-06-26          52959      5267   $23,667.38
81  paid-search       bing   2023-06-19          57243      3996   $23,881.69
82  paid-search       bing   2023-06-12          23783      3195   $18,257.71
83  paid-search       bing   2023-06-05          62515      2544   $14,681.04

[84 rows x 6 columns]

In [ ]:
conversion = pd.read_csv("./../data/conversion_data.csv")
conversion

,Touched Date,Utm Medium,Utm Source,Utm Campaign,# Demo Occurred,# Sales Qualified Opportunity,# Closed Won Opportunity
0,2023-10-29,paid-search,google,nam-t1_acq_searchnonbranded_google_search_coun...,2.5,0.0,0.0
1,2023-10-29,paid-listicle,peoplemanagingpeople,ww_acq_prosp_pmp_paidlist_cadpayroll-pmp-__all,2.5,2.5,0.0
2,2023-10-29,paid-social,facebook,nam-t1_consider_calculate_fb_image_all-reengag...,2.4,0.0,0.0
3,2023-10-29,paid-search,google,emea-t1a_acq_searchnonbranded_google_search_pa...,0.0,0.0,0.0
4,2023-10-29,sponsored-newsletter,hrci,ww_engage_download_hrci_sponnewsletter_hr-hrbu...,0.0,0.0,0.0
...,...,...,...,...,...,...,...
11006,2023-06-05,659706244314,149096095629,NaN,1.9,2.5,0.0
11007,2023-06-05,webinar,webinar,ww_acq_prosp_webinar__defaultcamp--__all,0.0,0.0,0.0
11008,2023-06-05,cpc,bing,NaN,0.0,0.0,0.0
11009,2023-06-05,paid-social,facebook,emea-t2_acq_prosp_fb_image_all-cb-__smbmm,3.1,0.0,0.0
11010,2023-06-05,642450914603,148350216607,NaN,2.5,0.0,0.0

# EDA

### 1) Paid

In [18]:
paid.head(3)

    Utm Medium Utm Source Traffic Week  # Impressions  # Clicks       $ Cost
0  paid-social   linkedin   2023-10-23        4881796     21954  $169,017.58
1  paid-social   linkedin   2023-10-16        6335386     15776  $174,972.20
2  paid-social   linkedin   2023-10-09        4485024     35009  $327,466.25

In [15]:
paid.describe().T

,count,mean,std,min,25%,50%,75%,max
# Impressions,84.0,1.231917e+07,1.680657e+07,23783.0,1868817.75,4416549.0,13530960.75,68992149.0
# Clicks,84.0,9.992399e+04,1.024808e+05,2544.0,26509.00,43895.5,135336.50,416503.0

In [13]:
for col in ['Utm Medium', 'Utm Source']:
  print(f"{col} : {paid[col].unique()}")

Utm Medium : ['paid-social' 'paid-search']
Utm Source : ['linkedin' 'google' 'facebook' 'bing']

In [20]:
paid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Utm Medium     84 non-null     object
 1   Utm Source     84 non-null     object
 2   Traffic Week   84 non-null     object
 3   # Impressions  84 non-null     int64
 4   # Clicks       84 non-null     int64
 5   $ Cost         84 non-null     object
dtypes: int64(2), object(4)
memory usage: 4.1+ KB

# Conversion

In [29]:
conversion.head(3)

,Touched Date,Utm Medium,Utm Source,Utm Campaign,# Demo Occurred,# Sales Qualified Opportunity,# Closed Won Opportunity
0,2023-10-29,paid-search,google,nam-t1_acq_searchnonbranded_google_search_coun...,2.5,0.0,0.0
1,2023-10-29,paid-listicle,peoplemanagingpeople,ww_acq_prosp_pmp_paidlist_cadpayroll-pmp-__all,2.5,2.5,0.0
2,2023-10-29,paid-social,facebook,nam-t1_consider_calculate_fb_image_all-reengag...,2.4,0.0,0.0

In [30]:
conversion.shape

(11011, 7)

In [31]:
conversion.describe().T

,count,mean,std,min,25%,50%,75%,max
# Demo Occurred,11011.0,1.792998,3.570338,0.0,0.0,0.9,2.4,107.7
# Sales Qualified Opportunity,11011.0,0.956507,2.687331,0.0,0.0,0.0,1.0,58.5
# Closed Won Opportunity,11011.0,0.213141,1.117871,0.0,0.0,0.0,0.0,43.3

In [36]:
for col in ['Utm Medium','Utm Campaign','Utm Source']:

  print(f"{col} : {conversion[col].nunique()}")

Utm Medium : 184
Utm Campaign : 1039
Utm Source : 281

In [37]:
conversion['Utm Medium'].head()

0             paid-search
1           paid-listicle
2             paid-social
3             paid-search
4    sponsored-newsletter
Name: Utm Medium, dtype: object

In [38]:
conversion['Utm Medium'].unique().tolist()

['paid-search',
 'paid-listicle',
 'paid-social',
 'sponsored-newsletter',
 'email-newsletter',
 'email',
 'display',
 'pdf',
 'referral',
 'social',
 'tradeshow-sponsorship',
 'newsletter',
 'event',
 '648993969981',
 'company_profile',
 'cpc',
 'webinar',
 'direct-referral',
 'self-signup',
 'paid-video',
 'deel-hosted-event',
 'paid-company-listing',
 'hosted-deel-event',
 'facebook',
 'partner',
 'paid-lead-buy',
 'organic-social',
 'Event',
 'cpm',
 'in-app',
 'paid social',
 'tradeshow',
 'tradeshow-attendance-only',
 'free-company-profile',
 'Partner - Webinar',
 'mql-email',
 'content',
 'ashby rec ops',
 'prospect newsletter',
 'article',
 'paid',
 'sponsored-post',
 'paid-content-syndication',
 'utm_medium=paid-lead-buy',
 'Webinar',
 'Tradeshow',
 '18637706604',
 'ig',
 'linkedin',
 'email sequence',
 'email+sequence',
 'all',
 'linkedin_post',
 'AE',
 'kristopher',
 'lea',
 'jonathan',
 'paidsocial',
 'sponsor[���]1-au_aware_download_hrm_sponnewsletter_--womanphoto_gmobil_all',
 'eddy',
 'Linkedin',
 'fb',
 '649519965057',
 '645774613425',
 '18637706586',
 '645774613563',
 '13050945823',
 '642330545196',
 '645774613596',
 '642385215076',
 '655826486390',
 '14477171474',
 '642330558474',
 '13050926128',
 '642385185556',
 'banner',
 '642450894398',
 '645774613428',
 '645774613623',
 'utm_medium=paid-search',
 '648047213952',
 'app',
 'zalo',
 'nonpaid',
 '648773230989',
 '642330558396',
 '642450926087',
 '642450895082',
 '642385098208',
 '642385215337',
 'https%3A%2F%2Fappwiki.nl',
 '642043002378',
 '642385215241',
 '642450914615',
 '642385215772',
 '608212275050',
 '642330558234',
 '608272680658',
 '576626721285',
 '579143568199',
 '607855023980',
 'survey',
 '648993969978',
 'native',
 'linktree',
 '521482491274',
 '642450904964',
 '642450925673',
 '655938191951',
 '521482491241',
 '642450926312',
 '645774613581',
 '606542207659',
 '642450841808',
 'ppc',
 '642330545268',
 '576626721249',
 '610179994015',
 '642450927341',
 'fp',
 '587346368154',
 '635918600784',
 '537048936148',
 '576626720046',
 '642330545469',
 '642383340181',
 '642450852632',
 '526918376604',
 '607855023734',
 '642385215490',
 '642450926060',
 '587695873430',
 '642385215277',
 '642385185304',
 '642385185568',
 '17745704117',
 '642383339944',
 '607855024031',
 '576626721267',
 '642449083850',
 '648779494968',
 '642330522660',
 '587371071069',
 '642450928022',
 '642330545457',
 '645774613629',
 '642385215292',
 '587371070802',
 '606603683654',
 '642330545466',
 '642330472242',
 '655951205177',
 '642385185550',
 'email_nurture',
 '642450925871',
 '642450925898',
 '642385215355',
 '642385215484',
 '642330545472',
 '610179993742',
 '607855023965',
 '642330428520',
 '651549341993',
 '642385185508',
 '610177911055',
 '642450894626',
 '610179994012',
 '642330456432',
 '642330495321',
 '655951204544',
 '642450914609',
 '642385215481',
 '642450926093',
 '642385215274',
 '642383347108',
 '655847740044',
 '610509293483',
 '642450914804',
 '645774613626',
 '587695873154',
 '642450926132',
 '642329864532',
 '659706244314',
 '642450914603']